<?xml version="1.0"?>
<configuration>

 <connectionStrings>
  <add name="conn" connectionString="Server=821b5a68-0440-49ea-a4fd-a38000aeabfd.sqlserver.sequelizer.com;Database=db821b5a68044049eaa4fda38000aeabfd;User ID=odhcztrenmewmzlr;Password=qVkWwhBy3myDbEeRvyBcxY86YU7pYQ8couBPe33zLZkSvkibxAFeBxqzVn7KjnHk;" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
    <httpRuntime executionTimeout="750" maxRequestLength="50000" />
	</system.web>
</configuration>
